@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Poppins", sans-serif;
}
.header {
  display: flex;
  align-items: center;
  box-shadow: 0 5px 5px -5px #2c2c3a;
}
.color-purple {
    color: #5652ac;
}
.color-white {
    color: #fff;
}
h2 {
  font-size: 24px;
  font-weight: 600;
}
.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 0 10px;
  width: 20%;
  height: 100%;
  position: fixed;
  background-color: #5652ac;
}

.profile-img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #e7e7e8;
  margin: 20px;
}
.nav-buttons {
  display: flex;
  flex-direction: column;
}
.nav-buttons button,
.logout button {
  color: #fff;
  background-color: #5652ac;
  border: none;
  padding: 20px;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
}

.nav-buttons button .clicked {
  color: #5652ac;
  background-color: #fff;
}

.logout {
  box-shadow: 0 -5px 5px -5px #2c2c3a;
}

.title {
  width: 100%;
  background-color: #fff;
  height: 50px;
  text-align: center;
  padding-top: 12px;
}

.main {
  width: 80%;
  height: 100%;
  margin-left: 20%;
}
.header-top {
    background-color: #5652ac;
    width: 100%;
    height: 70px;
}
